.banner {
    background-image: url('https://img.freepik.com/premium-photo/modern-headphones-with-sleek-design-orange-background-perfect-music-lovers-audio-pro_715671-37851.jpg?ga=GA1.1.1520422090.1699525632&semt=ais_hybrid');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 8px;
    position: relative;
    overflow: hidden;
}